{{#link-to 'ticket-details' ticket}}
  <div class="row open-ticket">
     <div class="col-md-12">
       <div class="row">
         <div class="col-md-4">
           <h1>{{ticket.location}}</h1>
         </div>
         <div class="col-md-4">
           <h1>{{moment-from-now ticket.openTimestamp}}</h1>
         </div>
         <div class="col-md-4">
           <h1>{{ticket.author}}</h1>
         </div>
       </div>
     </div>
   </div>
{{/link-to}}
