<div>
  <h2 class="page-header navbar-fixed-top">
    <!-- <div class="col-xs-2 pull-left">
      Haaahlp
    </div> -->
    <div class="col-xs-8 text-center">
      Queue
    </div>
  </h2>
</div>
<div class="container">
  {{outlet}}
</div>
